name: Production Pipeline

on:
  push:
    branches: [ main ]

jobs:
  # 1. Fase de Calidad (CI): Verificación con Java 25
  # Asegura que el código cumple los estándares antes de generar cualquier imagen
  test-and-verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Normalizar el nombre del repositorio a minúsculas
      - name: Lowercase Repository Name
        run: | 
          echo "IMAGE_NAME=${GITHUB_REPOSITORY,,}" >> $GITHUB_ENV

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: 'maven'

      - name: Run Tests (Unit & Integration)
        run: mvn clean test -Ptest

  # 2. Fase de Empaquetado (Docker): Publicación en GHCR
  # Genera la imagen inmutable y la sube al registro de GitHub (GitHub Container Registry)
  build-and-push:
    needs: test-and-verify
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Utilizamos etiquetas dobles: 'latest' para facilidad y 'SHA' para trazabilidad exacta
          tags: |
            ghcr.io/${{ github.repository }}:latest
            ghcr.io/${{ github.repository }}:${{ github.sha }}